*
!fuzzel/
!hypr/
!wayle/
!wayle/**
!hyprpanel/
!kitty/
!matugen/
!matugen/**
!nixos/
!nixos/**
!.gitignore
!readme.md
!sunshine/
!sunshine/apps.json
sunshine/credentials/
sunshine/sunshine_state.json
sunshine/sunshine.log
wayle/runtime.toml
wayle/schema.json
hypr/colors.conf
kitty/colors.conf
wayle/colors.toml
wayle/themes/schema.json
