*
!fuzzel/
!hypr/
!wayle/
!wayle/**
!hyprpanel/
!kitty/
!matugen/
!matugen/**
!nixos/
!.gitignore
!readme.md
!sunshine/
!sunshine/apps.json
nixos/configuration-hardware.nix
sunshine/credentials/
sunshine/sunshine_state.json
sunshine/sunshine.log
wayle/runtime.toml
wayle/schema.json